body, html {
    height: 100%;
    margin: 0;
    background: black;
    color: lime;
    font-family: 'Courier New', monospace;
}
#terminal {
    padding: 20px;
}
#input {
    width: 100%;
    border: none;
    background: none;
    color: inherit;
    font: inherit;
    outline: none;
}